@page "/"

<PageTitle>My TODOs</PageTitle>

<h1>Hello, person! These are the stuff you have on your list</h1>

<p>Good luck in making them come true!</p>
<p style="color:red">The icon on the description field is hoverable</p>
<button class="btn btn-success table-btn" @onclick="@(()=> QuickAdd())">
    Quick Add <i class="fas fa-plus"></i>
</button>
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Is it done?</th>
            <th>Deadline</th>
            <th>Description</th>
            <th>Actions</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Items)
        {
            <tr>
                <td>
                    @if (item.IsDone)
                    {
                        <s>@item.Title</s>
                    }
                    else
                    {
                        @item.Title
                    }
                </td>
                <td>
                    @if (item.IsDone)
                    {
                        <i class="fas fa-check"></i>
                    }
                    else
                    {
                        <i class="fas fa-times"></i>
                    }
                </td>

                <td>
                    @if (item.Deadline == null)
                    {
                        <s> no deadline</s>
                    }
                    else
                    {
                        @String.Format("{0:d}", item.Deadline)
                    }
                </td>
                <td>
                    @if (item.Description == null)
                    {
                        <i class="fas fa-info" data-toggle="tooltip" data-placement="top" title="No description"></i>
                    }
                    else
                    {
                        <i class="fas fa-info" data-toggle="tooltip" data-placement="top" title="@item.Description"></i>
                    }
                </td>
                <td>
                    <a href="@($"todos/{item.Id.ToString()}")" class="btn btn-primary table-btn">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a href="#" class="btn btn-danger table-btn" @onclick="@(() => DeleteTodo(item))">
                        <i class="fas fa-trash"></i>
                    </a>
                </td>

                <td>
                </td>

            </tr>
        }
    </tbody>
</table>

<ConfirmationDialog @ref="ConfirmationDeleteDialog" Title="Confirmation dialog" Content="Are you sure you want to delete this TODO item?"
                    CloseEventCallback="@OnConfirmationDeleteTodoDialogClosed"></ConfirmationDialog>

<QuickAddDialog @ref="QuickAddDialog" Title="QuickAdd dialog" Content="Do you want to quick add a TODO item?"
                CloseEventCallback="@OnConfirmationQuickAddTodoClosed"></QuickAddDialog>
<Counter></Counter>


@*<ErrorBoundary>
    <ChildContent>
        <Counter></Counter>
    </ChildContent>
    <ErrorContent>
        <p>Nothing to see, this has failed!</p>
    </ErrorContent>
</ErrorBoundary>*@